.recent{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.credit{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #3A3A3A;
    padding: 3%;

}
.airtel{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #3A3A3A;
    margin-bottom: 0;

}
.number{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5A5956;

}
.bx.bx-show{
    float: right;
    margin-right:6%;!important;
    margin-top: -25px;!important;
    z-index: 2;
    font-size: 25px;
}
.bx.bx-hide{
    float: right;
    margin-right:6%;!important;
    margin-top: -25px;!important;
    z-index: 2;
    font-size: 25px;
}